{% extends 'header.html' %} {% block content %} {% if request.user.is_authenticated %}
<h2 class="text-center">Bienvenido {{ user.username | upper }}!</h2>
{% else %}
<h2 class="text-center">Bienvenido!</h2>
{% endif %}
<p class="text-center">
    Mirá las imágenes desde <a href="{% url 'home' %}">este link.</a>
</p>
<img src="https://stickersbits.com/cdn/shop/products/RICK_Y_MORTY_-_9_bc8d6b3b-5f5c-4e2a-b569-10d099061b98.png?v=1702163419" style="    height: 20vh;
position: fixed;
top: 20vh;
right: 0;
animation: animacion 7s linear infinite;">
<div style="display: flex; justify-content: center; margin: 200px 0 200px 0;">
    <img src="https://static.wikia.nocookie.net/wiki-de-rick-morty/images/6/60/Rick_and_Morty.png/revision/latest/scale-to-width-down/1440?cb=20210623034924&path-prefix=es" height="200vw">
</div>
<img src="https://i.pinimg.com/originals/f8/f3/c3/f8f3c3e177614d714df81f9294ee11ff.png" alt="">
{% endblock %}